* {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	background: url("C:/html_4/img/fon.jpg") no-repeat;
	background-size: cover; 
	font-family: 'Helvetica Neue Regular', sans-serif;
}
.forum img {
	vertical-align: middle;
}
.ajuda {
	border-right: 1px solid #56a2dc;
	height: 30px;
}
.line {
	text-decoration: underline;
}
.menu {
	background: #074f8d;
 	width: 100%;
 	height: 30px;
 	margin: 0 auto;
}
.forum, .top_menu  {
 	display: flex;
 	justify-content: flex-end; 	
}
.forum li,.top_menu li {
	display: inline-block;
	position: relative;
	list-style-type: none;
}
.top_menu a {
	display: block;
	line-height: 30px;
	color: #60b5ed;
	font-size: 16px;
	text-decoration: none;
	padding: 0 20px; 
}
.forum a {
	display: block;
	line-height: 30px;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	padding: 0 30px; 
}
.top_menu a:hover {
	background: #4eabda;
	color: #fff;
}
.header {
	text-align: center;
	color: #fff;
	font-size: 30px;
	line-height: 2;
	border-bottom: 2px solid rgba(255,255,255,0.5)
}
.wrapper {
	margin: 200px auto;
	width: 700px;
	height: 800px;
	background: rgba(000, 0, 0, 0.6);
	text-align: center;
}
.network {
	padding: 40px 180px;
}
.network button {
	padding-left: 35px;
    padding-right: 0px;
    height: 40px;
    background: none;
    border: none;
    display: block;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 330px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.network .facebook {
	background: url(http://aroosamanzar.com/uploads/images/facebook-logo-png-white-i6.png),	
				
				-webkit-gradient(linear, left top, left bottom,
				color-stop(0%, #3c5598), color-stop(100%, #2e4579));
    background-size: 25px 25px, cover;
    background-position: 5px center, center center;
    background-repeat: no-repeat, repeat;
}
.ou {
	display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #929292;
    font-size: 18px;
}
.ou > span {
    position: relative;
    display: inline-block;
}
.ou > span:before,
.ou > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 125px;
    height: 0; 
    margin-top: -2px; 
    border-top: 1px solid #666;
    border-bottom: 1px solid #000;
}
.ou > span:before {
    right: 100%;
    margin-right: 15px;
}
.ou > span:after {
    left: 100%;
    margin-left: 15px;
}
.font {
	font-weight: normal;
}
.special {
	padding-left: 15px;
	}
.field {
	text-align: center;
}
.first, .last, .choose, 
.confirm, .email {
	width: 300px;
	height: 40px;
	font-size: 15px;
	padding-left: 10px;
	background: #101010;
	border: none;
	border: 1px solid transparent;
	border-bottom: 2px solid #484847;
	margin: 10px 100px;
}
.field input:focus{
	color: #fff;
	background: #1b5288;
	box-shadow: 0 0 10px #1b5288;
}
.first {
	margin-top: 20px;
}
.square {
	color: #cccccc;
	text-align: center;
	font-size: 18px
}
.account button {
	width: 150px;
	height: 35px;
	background: #47a1d5;
	color: #fff;
	font-size: 15px;
	border: none;
	border-radius: 4px;
	margin: 20px 190px 0 190px;
}
.content {
	color: #cccccc;
	text-align: center;
	padding-bottom: 50px;
}

